@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prism.css";

@layer base {
    @font-face {
    font-family: "HK Grotesk";
        font-display: swap;
        font-weight: 400;
    src: url("../public/fonts/HKGrotesk-Regular.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-Regular.woff") format("woff");
    }
    @font-face {
    font-family: "HK Grotesk";
        font-display: swap;
    font-weight: 800;
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff") format("woff");
    }
    @font-face {
        font-family: "JetBrains Mono";
        font-display: swap;
        font-weight: 400;
        src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
        src: url("../public/fonts/JetBrainsMono-Regular.woff") format("woff");
    }
    @font-face {
        font-family: "JetBrains Mono";
        font-display: swap;
        font-weight: 500;
        src: url("../public/fonts/JetBrainsMono-Medium.woff2") format("woff2");
        src: url("../public/fonts/JetBrainsMono-Medium.woff") format("woff");
    }
    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-display: swap;
        font-weight: 700;
        src: url("../public/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
        src: url("../public/fonts/JetBrainsMono-BoldItalic.woff") format("woff");
    }

    a {
        @apply dotted
    }
}

@layer utilities {
    .dotted {
        text-decoration: underline dotted;
        text-underline-offset: 5px;
    }
}
