@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "General Sans";
    font-display: swap;
    font-weight: 500;
    src: url("../public/fonts/GeneralSans-Medium.woff2") format("woff2");
    src: url("../public/fonts/GeneralSans-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "General Sans";
    font-display: swap;
    font-weight: 500;
    font-style: italic;
    src: url("../public/fonts/GeneralSans-MediumItalic.woff2") format("woff2");
    src: url("../public/fonts/GeneralSans-MediumItalic.woff") format("woff");
  }
  @font-face {
    font-family: "General Sans";
    font-display: swap;
    font-weight: 700;
    src: url("../public/fonts/GeneralSans-Bold.woff2") format("woff2");
    src: url("../public/fonts/GeneralSans-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "General Sans";
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: url("../public/fonts/GeneralSans-BoldItalic.woff2") format("woff2");
    src: url("../public/fonts/GeneralSans-BoldItalic.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 500;
    src: url("../public/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url("../public/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-BoldItalic.woff") format("woff");
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 25vh;
  }

  a {
    @apply py-0.5 px-1 border-white border-2 no-underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  * {
    @apply duration-200;
  }
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
